.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  body, .navbar {
    background-color: #61c7c0;
  }
 
#buttonBox{
    /* background-color: #61c7c0;   */
    width: 70%;
    margin: 10px auto 10px auto;
    text-align: center;
}
#addButtonBox{
    /* background-color: #61c7c0; */
    width: 30%;
    margin: 10px auto 10px auto;
    text-align: center;
}
.btn {
    margin: 2px;
}
.btn {
    background-color: #cd6913db;
}
#gifBox {
    background-color: #cd6913db;
    background-image: url("../images/pineapple-cut.png");
    margin: auto;
    /* width: 70%; */
    min-height: 600px;
    text-align: center;
    /* text-justify: inter-word; */
}
.gifDiv {
    position: relative;
    text-align: center;
    /* float: left; */
    margin: 5px 0 5px 0;
    width: 100%;
    z-index: 1;

    /* transition: all 3s; */
}
.gif {
    width: 100%;
    transition: all 1s;
    border: 2px solid transparent;
    border-radius: 5px;
    z-index: 1;
}
.gif:hover {
    transform: scale(1.05);
    z-index: 10;

}
.gifStar {
    position: absolute;
    top: 8px;
    left: 8px;
    color: yellow;
    padding: 10px;
}
#butnForm {
    height: 30px;
}